# Vivado project files
*.jou
*.log
*.str
*.cache/
*.webtalk/
*.hw/
*.runs/
*.sim/
*.ip_user_files/
*.xpr~backup
*.data/
*.temp/
*.wdb

# Vivado-generated constraints and synthesis outputs
*.dcp
*.edf
*.edn
*.bit
*.bin
*.ltx
*.svf
*.xsa
*.mmi

# Other temporary or backup files
*.bak
*~ 
*.tmp
*.swp
*.swo

# Vivado HLS
*.hls/
*.hls_prj/
*.solution/
*.log
.vscode/

# Vivado SDK / Vitis
.sdk/
.vitis/
*.xsa

# OS-specific
.DS_Store
Thumbs.db

# redundant files
*.p
*.pkl
*.npy
*.xlsx
*.txt
*.log
*.rar
*.zip
*.7z
*.csv
*.jpg
*.JPEG
*.pdf
*.vsdx

# folder
/MobileNet_VC709/
MobileNet_VC709_v2/mobilenetv2_tcasii
MobileNet_VC709_v2/project_1
MobileNet_VC709_v2/pygame_gui
MobileNet_VC709_v2/tcasii
MobileNet_VC709_v2/uart_loop
MobileNet_VC709_v2/doc_picture