# Vivado project files
*.jou
*.log
*.str
*.cache/
*.webtalk/
*.hw/
*.runs/
*.sim/
*.ip_user_files/
*.xpr~backup
*.data/
*.temp/
*.wdb

# Vivado-generated constraints and synthesis outputs
*.dcp
*.edf
*.edn
*.bit
*.bin
*.ltx
*.svf
*.xsa
*.mmi

# Other temporary or backup files
*.bak
*~ 
*.tmp
*.swp
*.swo

# Vivado HLS
*.hls/
*.hls_prj/
*.solution/
*.log
.vscode/

# Vivado SDK / Vitis
.sdk/
.vitis/
*.xsa

# OS-specific
.DS_Store
Thumbs.db

# redundant files

*.npy
*.xlsx
*.txt
*.log
*.rar
*.zip
*.7z
*.csv
*.JPEG
*.pdf
*.vsdx
*.rpt
# folder
/MobileNet_VC709/
MobileNet_VC709_v2/mobilenetv2_tcasii
MobileNet_VC709_v2/project_1
MobileNet_VC709_v2/pygame_gui
MobileNet_VC709_v2/tcasii
MobileNet_VC709_v2/uart_loop
MobileNet_VC709_v2/doc_picture
MobileNet_VC709_v2/Softmax
MobileNet_VC709_v2/项目文档
/Report/
/FPGA/
/.idea/
/MobileNet_VC709_v2/
MobileNetV2_numpy/bin_output
MobileNetV2_numpy/standalone